
  
  /* SOCIAL STUFF */
  .social-container {
    /* background: #d9e1e8; */
    background: #eee;
    margin: 10px 0px;
    padding: 10px 10px;
    text-align: center;
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }

  a.telegram {
    color: #0088cc;
  }

  a.github {
      color: #4078c0;
  }
  