
  
  /* SOCIAL STUFF */
  .social-container {
    /* background: #d9e1e8; */
    background: #eee;
    margin: 10px 0px;
    padding: 10px 10px;
    text-align: center;
    
  }
  a.social {
    margin: 0 10px;
    transition: transform 250ms;
    display: inline-block;
  }
  
  social:hover {
    transform: translateY(-2px);
  }
  
  .youtube {
    color: #eb3223;
  }
  
  .facebook {
    color: #4968ad;
  }
  
  .twitter {
    color: #49a1eb;
  }
  
  .instagram {
    color: black;
  }

  .telegram {
    color: #0088cc;
  }

  .github {
      color: #4078c0;
  }

.social-button {
    display: inline-block;
    margin: 0 10px;
}
  